.bg-carousel{
    background-color:#fceae8;
}
.watch{
    background-color:orange;
}
.bg-bag{
   background-color: orchid;
}
.bg-shoes{
    background-color: blue;
}
.panda-btn-color{
    background-color:#FF136F;
}

.subscribe{
    background-color:#fceae8;
    height: 350px;
}
.sub-text-size{
    width: 300px;
}